/* - - - General - - - */

:root{
    --main: #5B92E5; 
    --ligth: rgb(242, 245, 248);
    --dark: rgb(141, 141, 155);
    --postit: rgb(240, 226, 190);
    --shade: rgb(218, 182, 129);
}

*{
  box-sizing: border-box;
  margin:0
}

body{
  background-color: var(--ligth);
  font-family: 'Lato', sans-serif;
}

/* - - - Header - - - */

header{
  text-align: left;
  display: flex;
  justify-content:space-between;
  background-color: var(--main);
  color: var(--ligth);
  align-items: middle;
  padding:10px 20px;
}

.nota{
  color:var(--postit);
}

.icono{
  height:50px;
}

/* - - - Offset - - - */

.offset{
  max-width: 200px;
  position: relative;
  margin:20px 0;
  left:calc(100% - 200px);
  color: var(--dark);
}

#offset{
  padding: 2px;
  border-radius: 5px;
}

/* - - - Translate - - - */

.traductor{
  display: flex;
  padding: 5px;
}

.traductor div{
    padding: 10px;
    width: 50%;
}

.text{
    display: block;
    width: 100%;
    height: 50vh;
    margin: 15px 0;
    background-color: var(--postit);
    padding: 5px;
    border-radius: 5px;
    border: 1px var(--shade) solid;
    box-shadow: 2px 5px var(--shade);
    font-family: 'Caveat', cursive;
}

/* - - - Botones - - - */

button{
  padding: 5px;
  width: 100%;
  border:none;
  background-color: var(--main);
  border-radius: 5px;
  color: var(--ligth);
  box-shadow: 2px 2px var(--dark);
  font-family: 'Lato', sans-serif;
}

button:hover{
  background-color: var(--dark);
}

button:active{
  background-color: var(--dark);
  position: relative;
  left:2px;
  top:2px;
  box-shadow: none;
}

/* - - - Footer - - - */

footer{
  width: 100%;
  padding: 2px 10px;
  position: fixed;
  bottom: 0;
  background-color: var(--dark);
  color:var(--ligth);
  text-align: right;
}

a{
  color:var(--ligth);
}
